{% extends 'cart/index.html' %}
{% block breadcrumbs %}
    {{ block.super }} &raquo;
    <a href="{% url 'contact' %}">Tengiliða upplýsingar</a>
{% endblock %}
{% block content %}
    {% load l10n %}
    <div class="cart">
        <div class="well">
            <h1 class="red">Tengiliða upplýsingar</h1>
        </div>
        <div class="well">
            <a class="cart-sidelinks" href="{% url 'product-index' %}">Aftur í verslun</a>
            <a class="cart-sidelinks" href="{% url 'cart-index' %}">Aftur í körfu</a>
            <a class="cart-sidelinks" href="{% url 'payment' %}">Greiðslupplýsingar</a>
            <a class="cart-sidelinks" href="{% url 'review' %}">Yfirferð</a>
        </div>
        <div class="well">
            <form class="form form-horizontal" action="{% url 'contact' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Vista" class="btn btn-primary pull-right" style="clear: both; margin: 10px 0"/>
            </form>
        </div>

        <div class="well">
            <a class="cart-next" href="{% url 'cart-index' %}">Aftur í körfu</a>
            <a class="cart-next" href="{% url 'payment' %}">Greiðslupplýsingar</a>
        </div>

    </div>

{% endblock %}
