{% extends 'cart/index.html' %}
{% block breadcrumbs %}
    {{ block.super }} &raquo;
    <a href="{% url 'contact' %}">Tengiliða upplýsingar</a>
{% endblock %}
{% block content %}
    {% load l10n %}
    <div class="cart">
        <div class="well">
            <h1 class="red">Tengiliða upplýsingar</h1>
        </div>
        <table class="table">
            <tr>
                <th><a class="cart-sidelinks" href="{% url 'product-index' %}">Verslun</a></th>
                <th><a class="cart-sidelinks" href="{% url 'cart-index' %}">Karfa</a></th>
                <th><a class="cart-sidelinks" href="{% url 'contact' %}">Tengiliður</a></th>
                <th><a class="cart-sidelinks" href="{% url 'payment' %}">Greiðsla</a></th>
                <th><a class="cart-sidelinks" href="{% url 'review' %}">Yfirfara</a></th>
            </tr>
        </table>
        <div class="well">
            <form class="form form-horizontal" action="{% url 'contact' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Vista" class="btn btn-primary pull-right" style="clear: both; margin: 10px 0"/>
            </form>
        </div>

        <table class="table cart-footer">
            <tr>
                <td><a class="cart-next" href="{% url 'cart-index' %}"><span class="glyphicon glyphicon-menu-left"></span></a></td>
                <td><a class="cart-next" href="{% url 'payment' %}"><span class="glyphicon glyphicon-menu-right"></span></a></td>
            </tr>
        </table>
    </div>

{% endblock %}
