{% extends 'base.html' %}
{% block breadcrumbs %}
    {{ block.super }} &raquo;
    <a href="{% url 'cart-index' %}">Karfan mín</a>
{% endblock %}
{% block content %}
    {% load l10n %}
    <h1 class="well red">Karfan þín</h1>
        <div class="well cart-items">
            <table class="table">
                <tr>
                    <th>Vara</th>
                    <th>Fjöldi</th>
                    <th><span class="glyphicon glyphicon-plus"></span> / <span class="glyphicon glyphicon-minus"></th>
                    <th>Verð</th>
                </tr>
                {% for item in cart|dictsort:'cart.id' %}
                    <tr>
                        {% include 'cart/single_cart_item.html' with item=item %}
                    </tr>
                {% endfor %}
            </table>
            <div class="cart">
                <h2>Heildarverð: {{ total|localize }} kr.</h2>
                {% if cart.all %}
                    <p class="cart-next">Áfram í greiðslu <a class="cart-next" href="{% url 'contact' %}"><span class="glyphicon glyphicon-credit-card"></span></a></p>
                {% endif %}
            </div>
        </div>
{% endblock %}
