{% extends 'base.html' %}
{% block breadcrumbs %}
    {{ block.super }} &raquo;
    <a href="index.html">Karfan mín</a>
{% endblock %}
{% block content %}
    {% load l10n %}
    <h1 class="well red">Karfan þín</h1>
        <div class="well cart-items">
            <table class="table">
                <tr>
                    <th>Vara</th>
                    <th>Fjöldi</th>
                    <th>+ / -</th>
                    <th>Verð</th>
                </tr>
                {% for item in cart|dictsort:'cart.id' %}
                    <tr>
                        {% include 'cart/single_cart_item.html' with item=item %}
                    </tr>
                {% endfor %}
            </table>
            <div class="cart-next">
                <h2>Heildarverð: {{ total|localize }} kr.</h2><a class="cart-next" href="{% url 'contact' %}">Áfram í greiðsluferli</a>
            </div>
        </div>
{% endblock %}
