{% extends 'base.html' %}
{% block breadcrumbs %}
    <a href="/">Heim</a>
{% endblock %}
{% block content %}
    <h1 class="red">Vöru úrvalið</h1>
    <div class="input-group">
        <input type="search" class="form-control" id="search-box" placeholder="Hverju vilt þú leita að?"/>
        <div class="input-group-btn">
            <button type="button" id="search-btn" class="btn btn-default">Leita</button>
        </div>
    </div>
    {% include 'user/search_history.html' %}
    <div class="products">
        {% for product in products|dictsort:'name' %}
            {% include 'products/single_product.html' with product=product %}
        {% endfor %}
    </div>
{% endblock %}