{% extends 'base.html' %}

{% block content %}
    <div class="hero-image">
        <div class="hero-text">
            <h1 class="hero-title">
                Máltíð meistaranna!
            </h1>
            <h2 class="hero-subtitle">
                Við bjóðum upp á uppáhalds morgunkornið þitt!
            </h2>
            <a class="hero-button" id="all" href="{% url 'product-webstore' %}?category=all">Velja morgunkorn</a>
        </div>
    </div>
    <div class="categories">
        {% for category in categories %}
            <a class="category-button" id="{{ forloop.counter }}" href="{% url 'product-webstore' %}?category={{ category.id }}">{{ category.name}}</a>
        {% endfor %}
    </div>
{% endblock %}