.products {
    color: cadetblue;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: beige;
    color: deeppink;
    text-align: right;
    padding-right: 5rem;
}

img.profile-image {
    width: 100px;
    height: auto;
    border-radius: 50%;
}