{% extends 'administrate/administrate_products.html' %}
{% block breadcrumbs %}
    {{ block.super }} &raquo;
    <a href="{% url 'products_manufacturers' %}">Framleiðendur</a>
{% endblock %}
{% block content %}
    <div class="well"> <h1 class="red">Framleiðendur</h1></div>
    <p><a class="product_view_button" href="{% url 'create_manufacturer' %}" class="well administrate">Búa til nýjan framleiðanda</a></p>
    <div class="manufacturer">
        {% for manufacturer in manufacturers|dictsort:'name' %}
            {% include 'administrate/single_manufacturer.html' with manufacturer=manufacturer %}
        {% endfor %}
    </div>
{% endblock %}