{% extends 'administrate/administrate_products.html' %}
{% block breadcrumbs %}
    {{ block.super }} &raquo;
    <a href="{% url 'products_products' %}">Vörur</a>
{% endblock %}
{% block content %}
    <div class="well"><h1 class="red">Vörur</h1></div>

    <p><a href="{% url 'create_product' %}" class="well administrate">Búa til nýja vöru</a></p>
    <div class="body">
    <div class="form-wrap">
        {% for product in products|dictsort:'name' %}
            {% include 'administrate/single_product.html' with product=product %}
        {% endfor %}
    </div>
    </div>
{% endblock %}


