<div class="well profile">
    <img class="profile-image" src="{{ profile.profile_image }}"/>
    <h4>Notendanafn: {{ profile.user.username }}</h4>
    <p>Profile id: {{ profile.id }}</p>
    <p>User id: {{ profile.user.id }}</p>
    <p>Nafn: {{ profile.name }}</p>
        <a href="{% url 'toggle_admin' profile.id %}">
            {% if profile.admin %}
                Fjarlægja admin réttindi
            {% else %}
                Bæta við admin réttindum
            {% endif %}
        </a>
</div>