

<div class="wrapper">
	<div class="navbar">
		<div class="inner_navbar">
			<div class="logo">
				<a href="/">Ship O' <span>Cereal</span></a>
			</div>
			<div class="menu">

                <ul>
                    <li><a href="{% url 'product-index' %}">Verslun<span class="sr-only">(current)</span></a></li>
                    {% if user.is_authenticated %}
                        {% if user.profile.is_admin %}
                            <li><a href="{% url 'administrate-index' %}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-cog"></span></a></li>
                        {% endif %}
                        <li><a href="{% url 'profile' %}"><img src="{{ user.profile.profile_image }}" class="profile-image" />Mín síða</a></li>

                        <li><a href="{% url 'logout' %}">Skrá mig út</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Skrá mig inn</a></li>
                        <li><a href="{% url 'register' %}">Búa til aðgang</a></li>
                    {% endif %}

                <li><a href="{% url 'cart-index' %}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                </ul>

			</div>
		</div>
		<div class="hamburger">
			<i class="fas fa-bars"></i>
		</div>
	</div>





</div>

