<table class="table">
    {% if today|length > 0 %}
        <tr>
            <th >Í dag</th>
        </tr>
        {% for search in today %}
            <tr>
                <td>{{ search.timestamp|date:"d.m Y" }} - {{ search.search_string }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    {% if yesterday|length > 0 %}
        <tr>
            <th>Í gær</th>
        </tr>
        {% for search in yesterday %}
            <tr>
                <td>{{ search.timestamp|date:"d.m Y" }} - {{ search.search_string }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    {% if lastweek|length > 0 %}
        <tr>
            <th>Síðasta vika</th>
        </tr>
        {% for search in lastweek %}
            <tr>
                <td>{{ search.timestamp|date:"d.m Y" }} - {{ search.search_string }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    {% if older|length > 0 %}
        <tr>
            <th>Eldra</th>
        </tr>
        {% for search in older %}
            <tr>
                <td>{{ search.timestamp|date:"d.m Y" }} - {{ search.search_string }}</td>
            </tr>
        {% endfor %}
    {% endif %}
</table>